:root {
    --background-color: rgba(250, 250, 250);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background-color);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 360px;
    margin: 20px 0;
    transition: all 1s ease !important;
}

img:hover {
    transform: translateY(-1px) scale(1.1) !important;
    transition: all 1s ease !important;
    cursor: pointer;
}

@media (max-width: 370px) {
    img {
        width: 300px;
    }
}